html, body {
    height: 100%;
}

body {
    margin: 1%;
    padding: 1%;
}

header {
    background-color: #b2b2b2;
    background-image: url("../images/flywheel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}

h1 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 2;
    font-size: 150%;
}

nav a {
    background-color: #c5c5c578;
    color: #0d0d0d;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5%;
    padding: 1.5% 4%;
    width: 11%;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
}

a.active {
    background-color: #ffffff;
}

.left, .right {
    display: inline-block;
    box-sizing: border-box;
}

.left {
    padding-top: 3%;
    width: 20%;
    margin-right: 3px;
    background-color: #777613;
    height: 100vh;
}
 .right {
     width: 75%;
     vertical-align: top;
 }

img {
    border: 2px solid #0d0d0d;
    display: block;
    width: 70%;
    margin: 0 auto 15% auto;
}

h2 {
    font-size: 180%;
}

p {
    font-size: 120%;
}